body
{
    background-color: gray;
    color: white;
    font-family: Arial, sans-serif;
}

h1
{
    font-size: 250%;
}

#notes-container
{
    width: 80%;
    margin-top: 10px;
}

.note
{
    background-color: white;
    color: black;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 5px;
}

#new-note-button
{
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 8px;
}

.delete-button
{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
