body
{
    background-color: gray;
    color: white;
    font-family: Arial, sans-serif;
}

#container
{
    width: 98%;
    margin: auto;
}

#notes-container
{
    margin-top: 25px;
    margin-bottom: 50%; /* extra padding so notes aren't covered by the keyboard */
}

.note
{
    background-color: white;
    color: black;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

#new-note-button
{
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 8px;
    margin-top: 15px;
    font-size: 130%;
}

.delete-button
{
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
